* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

.header-container { 
  background-image: url('https://img00.deviantart.net/4ebb/i/2017/179/b/0/avengers__infinity_war_banner_by_bakikayaa-dbeco5n.jpg'); 
  width: 100%; 
  background-repeat: no-repeat; 

}

