* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html { 
  height: 100%;
}

body { 
  height: 100%; 
  font-family: 'Helvetica'; 
}

main { 
  height: 100%; 
}

input[type="text"] {
  font-size: 25px; 
}

#input-form { 
  padding: 15px; 
  background-color: black; 
}

.home-button { 
  height: 100%; 
}

.header-container { 
  background-color: #ec1d25; 
  width: 100%;
  height: 150px; 
  background-repeat: no-repeat; 
  padding: auto; 
  text-align: center; 
}

.left {
  width: 20%; 
  float: left; 
}

.right {
  width: 20%; 
  float: right; 
}

.sidenav {
  /* z-index: 1; */
  height: 300px; 
  background: rgb(0, 0, 0);
  padding: 8px 0;
}

.nav-ul { 
  list-style-type: none;
}

.nav-ul2{ 
  list-style-type: none; 
}

.form-container { 
  padding: 10px; 
  background-color: black; 
}

.js-search-results {
  width: 50%; 
  margin-top: 15px; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: black; 
}

.character-description { 
  margin-top: 25px; 
  padding: 10px; 
  font-size: 25px; 
}

.character-name { 
  margin-top: 25px; 
  padding: 10px; 
  font-size: 35px; 
}

.results-container { 
  padding: 15px; 
}

.footer-container { 
  height: 50px; 
  background-color: navy; 
  color: yellow; 
  text-align: center; 
}

.marvel-attribution {
  margin-top: auto;
  margin-left: auto;  
  font-size: 25px; 
}

#main-container {     
  background-image: url('https://djstorm.files.wordpress.com/2014/08/the-avengers-age-of-ultron-2015-marvel-poster-wallpaper.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
/*  background-attachment: fixed; */
  text-align: center; 
  color: white; 
  padding: 25px;  
}

.page-title { 
  margin: 5px; 
  font-size: 50px; 
  color: white; 
}

.search-button { 
  position: relative; 
  bottom: 3px; 
  cursor: pointer;
  height: 50px; 
  width: 10%; 
  border: none; 
  border-radius: 5px; 
  font-size: 18px; 
  color: white; 
  background-color: #ec1d25;
}


.results-title { 
  font-size: 40px; 
  margin-bottom: 20px; 
}

.js-query { 
  height: 50px; 
  width: 40%; 
  border-radius: 5px; 
  border: none; 
  text-align: center; 
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.link-container { 
  font-size: 18px; 
  margin-top: 30px; 
}

a {
  color: burlywood;
  text-decoration: none;
  text-transform: uppercase;
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
}

a:hover {
  color: red;
}


::-webkit-input-placeholder {
  color: rgb(196, 128, 128); 
  font-style: italic;
  font-size: 15px; 
  margin-left: 15px; 
}
:-moz-placeholder {
  color: rgb(196, 128, 128);
  font-style: italic;  
  font-size: 15px;
  margin-left: 15px;
}
::-moz-placeholder {
  color: rgb(196, 128, 128); 
  font-style: italic;  
  font-size: 15px;
  margin-left: 15px;
}
:-ms-input-placeholder {  
  color: rgb(196, 128, 128); 
  font-style: italic; 
  font-size: 15px;
  margin-left: 15px;
}